*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.font-open-sanc{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font: weight large;
}
.orang{
    color: #FD6E0A;
}
header{
    background-color: #FFF8F3;
    background: url(developer.png),url(header_bg.png), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
     
    
    
}
nav{
   width: 71%;
   max-width: 1040px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
ul{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
  nav a{ font-size: 20px;
    text-decoration: none;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#banner{
    display: flex;
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    justify-content: space-between;
    align-items: center;
}
#banner .banar-contant h2{
    font-size: 45px;
     font-weight: 600;
     color: #474747;
}
#banner .banar-contant h1{
    font-size: 65px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}
#banner .banar-contant p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banar-contant{
    max-width: 585px;
}
#banner .banner-image{
    max-width: 685px;
    vertical-align:middle ;
    margin-bottom: 0;
}
#about{
    padding-top: 130px;
}
#about .about-contaner{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#about  .about-contaner .about-info{
    display: flex;
    justify-content: space-around;

}
.about-info .info-card p{
     font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
}
#skills , #resume  {
    padding-top: 130px;
}
 #skills .skills-contenear{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto
 }
  #skills .skills-contenear .skills-box{
    display: flex;
    gap: 16px;
  }
  .skills-box .skills-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 367px;
    box-shadow:0 5px 50px 0px #00000073;

  }
  .skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
  }
  .skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
  }
  .skills-card p{
    font-size: 15px;
    line-height: 28px;
    color: #757575;
} 
.text-senter{
    text-align: center;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}
.resume-container .section-titel{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;

}
.resume-card{
    margin-right: 47px;
    max-width: 511px;
}
.resume-card .card-titel{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
    font-weight: 600;
} 
  .resume-card .card-text{
    font-size: 16px;
    margin-bottom: 20px;
    color: #757575;
     line-height: 28px;
} 
.resume-container hr {
    margin: 30px 0px;
    
}
footer{
    margin-top: 130px;
background-color: #FFF8F3;
padding: 130px 0px;
}
.footer-contenar{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto ;
    display: flex;
    gap: 116px;
}
.footer-contenar .socil{
    max-width: 562px;
}
 .footer-contenar h2 {
    color: #181818;
    font-size: 35px ;
    margin-bottom: 20px;

 }
 .footer-contenar .socil p{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
 }
 .footer-contenar .icon a{
    margin-right: 24px;
 }
 .footer-contenar form input[type="text"] ,.footer-contenar form textarea {
    width: 461px;
    padding: 18px  31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;

 }
