*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sanc{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font: weight large;
}
.orang{
    color: #FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
   width: 71%;
   max-width: 1040px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
  nav a{ font-size: 20px;
    text-decoration: none;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
  